<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.oa.jk.dao.HtDailyMapper">
  <resultMap id="BaseResultMap" type="com.ht.oa.jk.model.HtDaily">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="daily_date" jdbcType="TIMESTAMP" property="dailyDate" />
    <result column="daily_date_num" jdbcType="INTEGER" property="dailyDateNum" />
    <result column="plan_content" jdbcType="VARCHAR" property="planContent" />
    <result column="is_complete" jdbcType="INTEGER" property="isComplete" />
    <result column="complete_content" jdbcType="VARCHAR" property="completeContent" />
    <result column="problem" jdbcType="VARCHAR" property="problem" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, daily_date, daily_date_num, plan_content, is_complete, complete_content, problem, 
    insert_time, last_time, status, user_id, user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_daily
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ht_daily
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ht.oa.jk.model.HtDaily">
    insert into ht_daily (id, daily_date, daily_date_num, 
      plan_content, is_complete, complete_content, 
      problem, insert_time, last_time, 
      status, user_id, user_name
      )
    values (#{id,jdbcType=BIGINT}, #{dailyDate,jdbcType=TIMESTAMP}, #{dailyDateNum,jdbcType=INTEGER}, 
      #{planContent,jdbcType=VARCHAR}, #{isComplete,jdbcType=INTEGER}, #{completeContent,jdbcType=VARCHAR}, 
      #{problem,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.oa.jk.model.HtDaily">
    insert into ht_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dailyDate != null">
        daily_date,
      </if>
      <if test="dailyDateNum != null">
        daily_date_num,
      </if>
      <if test="planContent != null">
        plan_content,
      </if>
      <if test="isComplete != null">
        is_complete,
      </if>
      <if test="completeContent != null">
        complete_content,
      </if>
      <if test="problem != null">
        problem,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dailyDate != null">
        #{dailyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyDateNum != null">
        #{dailyDateNum,jdbcType=INTEGER},
      </if>
      <if test="planContent != null">
        #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="isComplete != null">
        #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="completeContent != null">
        #{completeContent,jdbcType=VARCHAR},
      </if>
      <if test="problem != null">
        #{problem,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.oa.jk.model.HtDaily">
    update ht_daily
    <set>
      <if test="dailyDate != null">
        daily_date = #{dailyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyDateNum != null">
        daily_date_num = #{dailyDateNum,jdbcType=INTEGER},
      </if>
      <if test="planContent != null">
        plan_content = #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="isComplete != null">
        is_complete = #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="completeContent != null">
        complete_content = #{completeContent,jdbcType=VARCHAR},
      </if>
      <if test="problem != null">
        problem = #{problem,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.oa.jk.model.HtDaily">
    update ht_daily
    set daily_date = #{dailyDate,jdbcType=TIMESTAMP},
      daily_date_num = #{dailyDateNum,jdbcType=INTEGER},
      plan_content = #{planContent,jdbcType=VARCHAR},
      is_complete = #{isComplete,jdbcType=INTEGER},
      complete_content = #{completeContent,jdbcType=VARCHAR},
      problem = #{problem,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询某天的日报记录 -->
  <select id="list" parameterType="com.ht.oa.jk.model.req.HtDailyReq" resultType="java.util.Map">
    select
    DATE_FORMAT(daily_date,'%m-%d') as dailyDate,
    user_name as userName,
    plan_content as planContent,
    is_complete as isComplete,
    complete_content as completeContent,
    problem as problem
    from ht_daily
    <where>
      <if test="dailyDateNum != null">and daily_date_num = #{dailyDateNum,jdbcType=INTEGER}</if>
      <if test="true">and status=1</if>
    </where>
    order by id
    limit #{start} ,#{limit}
  </select>
  <!-- 查询某天的日报记录 -->
  <select id="queryListByDate" parameterType="java.lang.String" resultType="com.ht.oa.jk.pojo.HtDailyData">
    select
    DATE_FORMAT(daily_date,'%m-%d') as dailyDate,
    user_name as userName,
    plan_content as planContent,
    is_complete as isComplete,
    complete_content as completeContent,
    problem as problem
    from ht_daily
    where DATE_FORMAT(daily_date,'%Y-%m-%d') = #{date} and status=1
  </select>

</mapper>